body {
  font-family: "Rubik", sans-serif;
  color: #292D32;
}

header {
  width: 100%;
  height: 100vh;
  background: url("../../images/landing-page/header.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

header .navbar .navbar-brand {
  font-weight: 600;
  display: flex;
  gap: .5rem;
}

header h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
}

header p {
  font-size: 1.1rem;
  font-weight: 700;
  color: #fff;
}

#about-us img {
  box-shadow: 8px -8px #E5E7EB;
  transition: .5s;
}

#about-us img:hover {
  box-shadow: 8px 8px #d7d7d7;
}

#about-us .page-title {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
}

#about-us .lead {
  margin-bottom: 0;
  color: #010101;
  font-size: 1.2rem;
}

#about-us .stats {
  display: flex;
  gap: .5rem;
}

#about-us .stats .box {
  display: flex;
  flex-direction: column;
}

#about-us .stats .box .value {
  margin-bottom: 0;
  font-weight: 700;
}

#about-us .stats .box .title {
  font-weight: 500;
}


.btn-primary {
  --bs-btn-bg: #10B981;
  --bs-btn-border-color: #10B981;
  --bs-btn-hover-bg: #10B981;
  --bs-btn-hover-border-color: #10B981;
  --bs-btn-active-bg: #10B981;
  --bs-btn-active-border-color: #10B981;
  border-radius: 1rem !important;
  transition: .5s;
}

.btn-primary:hover {
  box-shadow: 2px 2px 5px rgba(16, 185, 129, .5);
}

.btn-primary:focus {
  border-radius: 0 !important;
}